[submodule "src/thirdparty/argumentum"]
	path = src/thirdparty/argumentum
	url = https://github.com/mmahnic/argumentum
[submodule "src/thirdparty/fmt"]
	path = src/thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/thirdparty/sourcepp"]
	path = src/thirdparty/sourcepp
	url = https://github.com/craftablescience/sourcepp
